<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-30 p-b-50">
            <img src="../../assets/images/logo.png" class="img-fluid logo-pandora mb-4">

            <!-- <span class="login100-form-title p-b-33">
                Iniciar Sesion
            </span> -->
            <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <div style='padding: 5px;' *ngIf="showError" class="alert alert-danger mb-2" role="alert">
                    Inserte todos los campos
                </div>
                <div style='padding: 5px;' *ngIf="authError" class="alert alert-danger mb-2" role="alert">
                    Nombre de usuario o contraseña incorrecta.
                </div>
                <div style='padding: 5px;' *ngIf="serverError" class="alert alert-danger mb-2" role="alert">
                    Ocurrio un error intentando conectarse al servidor. Intentelo más tarde.
                </div>
                <!-- wrap-input100 validate-input -->
                <div class="wrap-input100 validate-input ">
                    <!--  input100  -->
                    <input class="input100" type="text" name="user" placeholder="Usuario" formControlName="user" required>

                </div>

                <div class="wrap-input100 rs1 validate-input">
                    <input class="input100" type="password" name="pass" placeholder="Contraseña" formControlName="pass" required>
                </div>


                <!-- login100-form-btn -->
                <div class="container-login100-form-btn m-t-20">
                    <button class="login100-form-btn" type="submit">
							Iniciar Sesión
						</button>
                </div>
            </form>
        </div>
    </div>
</div>