<h2>Estrategias</h2>

<div class="demo-button-container">
    <button class="demo-button" type="button" class="btn btn-success" (click)="open(contentInsert)">Añadir Estrategia</button>
</div>

<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
        <div *ngIf="column == ' '">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu" [ngStyle]="{'color':'#388E3C'}" aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
              </button> </td>

            <mat-menu #menu="matMenu">
                <button mat-menu-item>Instituto</button>
                <button mat-menu-item>Facultad</button>
                <button mat-menu-item>Departamento</button>
                <button mat-menu-item (click)="open(contentEdit)">Editar</button>
                <button mat-menu-item>Eliminar</button>
            </mat-menu>

        </div>

        <div *ngIf="column != ' '">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </div>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div align="justify" class="example-element-description">

                    {{element.description}}
                </div>
            </div>

        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row" [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<!--Modal Insetar Estrategia-->
<ng-template #contentInsert let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Datos para anadir una estrategia</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group row">
                <label for="estrategy">Nombre de la estrategia</label>
                <div class="input-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Estrategia"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleFormControlTextarea1">Objetivos de la estrategia</label>
                <div class="input-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Objetivos"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Insertar</button>
    </div>
</ng-template>

<!-- Modal Editar -->

<ng-template #contentEdit let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar la estrategia</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
  </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group row">
                <label for="estrategy">Nombre de la estrategia</label>
                <div class="input-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Estrategia"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleFormControlTextarea1">Objetivos de la estrategia</label>
                <div class="input-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Objetivos"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Editar</button>
    </div>
</ng-template>
