<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-30 p-b-50">
            <mat-card>
                <h5>Seleccione cómo desea trabajar</h5>
                <mat-divider></mat-divider>
                <h6>Fecha del último enlace con Pandora</h6>
                <mat-form-field appearance="fill">
                    <mat-label>Seleccione la opción</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card>

            <mat-card>
                <h5>Gestión de la carga docente</h5>
                <mat-divider></mat-divider>
                <mat-form-field appearance="fill">
                    <mat-label>Curso</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let curso of cursos" [value]="curso.value">
                            {{curso.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Semestre</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let semestre of semestres" [value]="semestre.value">
                            {{semestre.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <section>
                    <div class="example-button-row">    
                      <button mat-button color="primary">Adicionar asignatura de postgrado al Departamento</button>
                    </div>
                  </section>

                  <table matSort (matSortChange)="sortData($event)">
                    <tr>
                      <th mat-sort-header="name">Dessert (100g)</th>
                      <th mat-sort-header="calories">Calories</th>
                      <th mat-sort-header="fat">Fat (g)</th>
                      <th mat-sort-header="carbs">Carbs (g)</th>
                      <th mat-sort-header="protein">Protein (g)</th>
                    </tr>
                  
                    <tr *ngFor="let dessert of sortedData">
                      <td>{{dessert.name}}</td>
                      <td>{{dessert.calories}}</td>
                      <td>{{dessert.fat}}</td>
                      <td>{{dessert.carbs}}</td>
                      <td>{{dessert.protein}}</td>
                    </tr>
                  </table>
            </mat-card>

            <mat-card>
                <h5>Carga docente de pregrado CRD</h5>
                <mat-divider></mat-divider>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                      <th mat-header-cell *matHeaderCellDef> Weight </th>
                      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                      <th mat-header-cell *matHeaderCellDef> Symbol </th>
                      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  
                  
            </mat-card>

            <mat-card>
                <h5>Carga docente de pregrado CPE</h5>
                <mat-divider></mat-divider>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                      <th mat-header-cell *matHeaderCellDef> Weight </th>
                      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                      <th mat-header-cell *matHeaderCellDef> Symbol </th>
                      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
            </mat-card>

            <mat-card>
                <h5>Carga docente de posgrado</h5>
                <mat-divider></mat-divider>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                      <th mat-header-cell *matHeaderCellDef> Weight </th>
                      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                      <th mat-header-cell *matHeaderCellDef> Symbol </th>
                      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  
                  
            </mat-card>

            <section>
                <div class="example-button-row">
                  <button mat-flat-button color="primary">Salvar</button>
                </div>
              </section>
            <mat-divider></mat-divider>

        </div>
    </div>
</div>