<mat-nav-list>
    <!-- Estrategias -->
    <mat-list-item style="padding-left: 9px;">
        <a matLine routerLink="/strategy" routerLinkActive="active">Estrategias Generales</a>

    </mat-list-item>
    <!--
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <p mat-line>Estrategias</p>
        </mat-expansion-panel-header>
    </mat-expansion-panel> -->

    <!-- ARC -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <p mat-line>Áreas de resultados claves</p>
        </mat-expansion-panel-header>
        <mat-list style="margin-left:10px;">
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Instituto</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Facultad</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Departamento</p>
                    </a>
                </mat-list-item>
            </div>
        </mat-list>
    </mat-expansion-panel>

    <!-- Trabajo Docente educativo -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <p mat-line>Trabajo Docente educativo</p>
        </mat-expansion-panel-header>
        <mat-list style="margin-left:10px;">
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Actualizar Asignaturas Activas</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Cantidad de evaluaciones parciales</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Carga docente del departamento</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Cubrimiento de carga docente</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Carga docente por profesor</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Asignaciones por asignatura</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Trabajo docente por profesor</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Otras tareas</p>
                    </a>
                </mat-list-item>
            </div>
        </mat-list>
    </mat-expansion-panel>

    <!-- Organizacion -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <p mat-line>Organización</p>
        </mat-expansion-panel-header>
        <mat-list style="margin-left: 10px;">
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Trabajo Político-Ideológico</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Trabajo Metodológico</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Investigación y Postgrado</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Superación</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Extensión universitaria</p>
                    </a>
                </mat-list-item>
            </div>
        </mat-list>
    </mat-expansion-panel>

    <!-- Control -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <p mat-line>Control</p>
        </mat-expansion-panel-header>
        <mat-list style="margin-left: 10px;">
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Evaluación Mensual</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Evaluación Anual</p>
                    </a>
                </mat-list-item>
            </div>
        </mat-list>
    </mat-expansion-panel>

    <!-- Reportes -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <p mat-line>Reportes</p>
        </mat-expansion-panel-header>
        <mat-list style="margin-left: 10px;">
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Evaluación Mensual</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Evaluación Anual</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Plan metodológico</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Descargar Plugin para Office</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Actividades por departamento</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Carga docente del departamento</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Carga docente por profesores</p>
                    </a>
                </mat-list-item>
            </div>
        </mat-list>
    </mat-expansion-panel>

    <!-- Configuracion -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <p mat-line>Configuración</p>
        </mat-expansion-panel-header>
        <mat-list style="margin-left: 10px;">
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Asesores</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Colaboradores del departamento</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Jefes de Disciplina del departamento</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Gestion de roles de los usuarios</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Colectivo de carrera</p>
                    </a>
                </mat-list-item>
            </div>
            <div>
                <mat-list-item style="overflow: hidden;">
                    <a style="cursor: pointer;">
                        <p mat-line>Colectivo de año</p>
                    </a>
                </mat-list-item>
            </div>
        </mat-list>
    </mat-expansion-panel>
</mat-nav-list>
